{% extends 'base.html' %}
{% block title %}Change Password{% endblock %}

{% block content %}
<div class="alert alert-secondary">
  <h2>Изменение пароля пользователя ({{ user.username }})</h2>
  <br>
  <ul>
    <li>Ваш пароль не может быть слишком похож на вашу другую личную информацию.</li>
    <li>Ваш пароль должен содержать как минимум 8 символов.</li>
    <li>Ваш пароль не может быть обычным паролем.</li>
    <li>Ваш пароль не может быть полностью числовым.</li>
  </ul>
  <div class="form-grup">
    <form method="POST">
      {% csrf_token %}
      {{ form.as_p }}
      <button class="btn btn-success btn-sm">Изменить</button>
    </form>
  </div>
</div>
{% endblock %}