{% extends 'base.html' %}
{% block title %}Interplay Delete{% endblock %}

{% block content %}
  {% if user.id == interplay.manager.id %}
    <div class="alert alert-secondary">
      <br>
      <h4>Удаление взаимодействия - {{ interplay.project }}</h4>
      <div class="form-grup">
        <form method="POST">
          {% csrf_token %}
          <br>
          <a href="{{ request.META.HTTP_REFERER }}" class="btn btn-info btn-sm">ОТМЕНИТЬ</a>
          <button class="btn btn-danger btn-sm">УДАЛИТЬ ВЗАИМОДЕЙСТВИЕ!</button>
        </form>
      </div>
    </div>
  {% else %}
    Вам не разрешено здесь находиться! (и Вы об этом, наверно, знаете...)
  {% endif%}
{% endblock %}