{% extends 'base.html' %}
{% load static %}

{% block title %}Interplay Detail{% endblock %}

{% block content %}

{% if user.is_authenticated %}
  <div class="alert alert-secondary">
    <h3>{{ interplay.project }}</h3>
    <b>{{ interplay.date_comm }}</b>
    <b> | {{ interplay.get_type_comm_display }}</b>
    <hr>
    {% if interplay.manager.manager.profile_pic %}
      <img src="{{ interplay.manager.manager.profile_pic.url }}" class="rounded-circle" width="100" height="100">
    {% else %}
      <img src="{% static 'main/images/no_avatar.png' %}" class="rounded-circle" width="100" height="100">     
    {% endif %}
    <b>Менеджер: </b>
    {{ interplay.manager.first_name }} {{ interplay.manager.last_name }}<br>

    <b>Канал обращения: </b>{{ interplay.get_channel_display }}<br>
    
    <b>Качество взаимодействия: </b>
    
    {{ interplay.rating|yesno:'Хорошее,Плохое,Пока не понятно' }}<br>
    
    <b>Описание: </b>{{ interplay.descript|safe }}
    <hr>
    <p><strong>Теги: {{ interplay.tags.all|join:', ' }}</strong></p>
    <a href="{% url 'interplay_list' %}" class="btn btn-info btn-sm">ВЫЙТИ</a>
    {% if user.id == interplay.manager.id %}
      <a href="{% url 'interplay_update' interplay.pk %}" class="btn btn-secondary btn-sm">ИЗМЕНИТЬ</a>
      <a href="{% url 'interplay_delete' interplay.pk %}" class="btn btn-danger btn-sm">УДАЛИТЬ</a>
    {% endif %}
  </div>
{% else %}
  Вам не разрешено здесь находиться! (и Вы об этом, наверно, знаете...)
{% endif %}

{% endblock %}